<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Asset</title>
</head>
<body>

        <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>

    <form th:object="${asset}" th:action="@{/asset}" th:method="POST">
        <div class="mb-3">
            <label for="inputTicker" class="form-label">Ticker</label>
            <input th:field="*{ticker}" type="input" name="ticker" class="form-control" id="inputTicker">
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input th:field="*{name}" type="input" name="name" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
            <label class="form-label">Asset Class</label>
            <select name="assetClass" th:field="*{assetClass}">
                <option th:each="assetClassOpt : ${T(com.wallet.model.AssetClass).values()}"
                        th:value="${assetClassOpt}" th:text="${assetClassOpt.displayValue}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input th:field="*{quantity}" type="input" name="quantity" class="form-control" id="quantity">
        </div>
        <div class="mb-3">
            <label for="inputBuyPrice" class="form-label">Buy Price</label>
            <input th:field="*{buyPrice}" type="input" name="buyPrice" class="form-control" id="inputBuyPrice">
        </div>
        <div class="mb-3">
            <label for="inputLastPrice" class="form-label">Last Price</label>
            <input th:field="*{lastPrice}" type="input" name="lastPrice" class="form-control" id="inputLastPrice">
        </div>
        <div class="mb-3">
            <label for="inputBuyDate" class="form-label">Buy Date</label>
            <input th:field="*{buyDate}" type="date" name="buyDate" class="form-control" id="inputBuyDate">
        </div>
        <div class="mb-3">
            <label for="inputMarketValue" class="form-label">MarketValue</label>
            <input th:field="*{marketValue}" type="input" name="marketValue" class="form-control" id="inputMarketValue">
        </div>
        <div class="mb-3">
            <label for="inputUnrealizedPnL" class="form-label">Unrealized PnL</label>
            <input th:field="*{unrealizedPnL}" type="input" name="unrealizedPnL" class="form-control" id="inputUnrealizedPnL">
        </div>
        <div class="mb-3">
            <label class="form-label">Wallet</label>
            <select name="wallet" th:field="${asset.wallet}" type="text">
                <option th:each="walletOpt : ${wallets}" th:value="${walletOpt.name}" th:text="${walletOpt.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add asset</button>
    </form>

    <p>
        <a href="javascript:javascript:history.go(-1)">Go back to wallet view</a>
    </p>

</body>
</html>