<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Asset</title>
</head>
<body>
  <div class="container">

    <h2 th:text="'Editing asset: ' + ${asset.ticker} + ', in wallet: ' + ${asset.wallet}" ></h2>

      <form action="#" th:action="@{/asset/update/{id}(id=*{id})}" th:object="${asset}" method="post">
        <div class="mb-3">
          <label for="inputTickerUpdate" class="form-label">Ticker</label>
          <input th:field="${asset.ticker}" type="text" name="ticker" class="form-control" id="inputTickerUpdate">
        </div>
        <div class="mb-3">
          <label for="inputNameUpdate" class="form-label">Name</label>
          <input th:field="${asset.name}" type="text" name="name" class="form-control" id="inputNameUpdate">
        </div>
        <div class="mb-3">
          <label class="form-label">Asset Class</label>
          <select name="assetClass" th:field="${asset.assetClass}" type="text">
            <option th:each="assetClassOpt : ${T(com.wallet.model.AssetClass).values()}"
                    th:value="${assetClassOpt}" th:text="${assetClassOpt.displayValue}"></option>
          </select>
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input th:field="*{quantity}" type="text" name="quantity" class="form-control" id="quantity">
        </div>
        <div class="mb-3">
          <label for="inputBuyPriceUpdate" class="form-label">Buy Price</label>
          <input th:field="*{buyPrice}" type="text" name="buyPrice" class="form-control" id="inputBuyPriceUpdate">
        </div>
        <div class="mb-3">
          <label for="inputLastPriceUpdate" class="form-label">Last Price</label>
          <input th:field="*{lastPrice}" type="text" name="lastPrice" class="form-control" id="inputLastPriceUpdate">
        </div>
        <div class="mb-3">
          <label for="inputBuyDateUpdate" class="form-label">Buy Date</label>
          <input th:field="*{buyDate}" type="date" name="buyDate" class="form-control" id="inputBuyDateUpdate">
        </div>
        <div class="mb-3">
          <label for="inputMarketValueUpdate" class="form-label">Market Value</label>
          <input th:field="*{marketValue}" type="text" name="marketValue" class="form-control" id="inputMarketValueUpdate">
        </div>
        <div class="mb-3">
          <label for="inputUnrealizedPnL" class="form-label">Unrealized PnL</label>
          <input th:field="*{unrealizedPnL}" type="text" name="unrealizedPnL" class="form-control" id="inputUnrealizedPnL">
        </div>
        <div class="mb-3">
          <label for="inputPercentagePnL" class="form-label">PnL %</label>
          <input th:field="*{percentagePnL}" type="text" name="percentagePnL" class="form-control" id="inputPercentagePnL">
        </div>
        <div class="mb-3">
          <label class="form-label">Wallet</label>
          <select name="wallet" th:field="${asset.wallet}" type="text">
            <option th:each="walletOpt : ${wallets}" th:value="${walletOpt.name}" th:text="${walletOpt.name}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Update asset</button>
      </form>

    <p>
      <a href="javascript:javascript:history.go(-1)">Go back to wallet view</a>
    </p>
  </div>

</body>
</html>